/* --- CONFIGURATION GLOBALE --- */
* {
    box-sizing: border-box;
}

body {
    background-color: #0b0c0e;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
}

/* --- VARIABLES --- */
:root {
    --bg-dark: #0b0c0e;
    --nav-bg: #111315;
    --accent-orange: #c96b00;
    --card-bg: #16191c;
    --text-dim: #9ba1a6;
}

/* --- SELECTION TEXTE PORTAL --- */
::selection { background-color: #EC6726; color: white; }
::-moz-selection { background-color: #EC6726; color: white; }

/* --- NAVIGATION --- */
nav {
    background-color: var(--nav-bg);
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #222;
}

nav ul { list-style: none; display: flex; gap: 30px; margin: 0; padding: 0; }
nav a { text-decoration: none; color: var(--text-dim); font-weight: 600; transition: 0.3s; }
nav a.active { color: white; border-bottom: 2px solid var(--accent-orange); padding-bottom: 5px; }

/* --- SECTION HERO --- */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(to bottom, #000000, var(--bg-dark));
}

.hero h1 { font-size: 3.5rem; margin: 0; }
.hero p { color: var(--text-dim); font-size: 1.2rem; }

/* --- GRILLE DE CARTES --- */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1100px;
    margin: -40px auto 80px; /* J'ai ajouté de l'espace en bas (80px) */
    padding: 0 20px;
}

.card {
    background: var(--card-bg);
    padding: 30px;
    border-radius: 8px;
    border-left: 4px solid var(--accent-orange);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 { margin-top: 0; color: white; font-size: 1.4rem; }
.card p { color: var(--text-dim); line-height: 1.6; }

/* Style pour les listes détaillées dans les cartes */
.list-detail {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    color: var(--text-dim);
    font-size: 0.95rem;
}

.list-detail li {
    margin-bottom: 5px;
    padding-left: 15px;
    border-left: 2px solid #333; /* Petit trait discret à gauche */
    transition: 0.3s;
}

.list-detail li:hover {
    border-left: 2px solid var(--accent-orange);
    color: white;
    transform: translateX(5px);
}

.playlist-container p {
    margin-top: 15px;
    font-size: 0.9rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}